body {
  font-family: Arial, Helvetica, sans-serif; /* FUENTE */
  margin: 40px; /* MARGIN */
  padding: 20px; /* PADDING */
  background-color: #f2f2f2;
}

h1 {
  color: #222;
}

h2 {
  color: #555;
}

p {
  margin: 20px 0;
  font-size: 16px;
}

button {
  padding: 10px 25px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #444;
}

.imagenes img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
